
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-03 */
.text-light-gray{

}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 21px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.text-primary{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Brand{
    font-size: 2.7rem;
    font-weight: 800;
}
.nav-links{
    display: flex;
}
.nav-link{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    margin-right: 35px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.Banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight:400;
}
.banner-image{
    width: 100%;
    margin-bottom: 105px;
    margin-bottom: 105px;

}
/* Main section start */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.Teams{
    display: flex;
    justify-content: center;
    align-items:center;
 }
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 102px;
}
.our-features{
    margin-left: 78px;
    max-width: 537px;
}
.feature-title{
    font-size: 2.8rem;
}
#Quick-list{
    color: rgba(132, 129, 129, 1);
    font-weight: 600;
}
.features-description{
    color: rgba(132, 129, 129, 1);
}
/* section second part start */
.secion-loveable-features{
    display: flex;
    justify-content: center;
    max-width: 1440px;
}
/* main section third part start */
.all-facts-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-top: 100px; */
    justify-content: center;
    margin: 100px 290px;
    gap: 50px;

       
}
.common-fact-style{
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    gap: 5px;
}
.facts-title{
    color: black;
    font-size: 2.7rem;
    font-weight: 800;
    justify-content: center;
    margin-bottom: 25px;
    
}
.fact-content{
    padding: 45px 36px;
   
}
.text-fact-style{
    font-size: 1rem;
    color: rgba(132, 129, 129, 1);;
}
.number-attributes{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}
.fact-description{
    font-size: 1rem;
    font-weight: 100;
    max-width: 545px;
    color: #424242;
 }


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .Teams{
    flex-direction: column;
    } 
    .team-image-container{
    grid-template-columns: repeat(1, 1fr);
    } 
    .our-features{
    margin-left: 20px;
    }   
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
     .our-features{
    margin-left: 45px auto;
    } 
}